 * {
     box-sizing: border-box;
 }

 body {
   font-family: Helvetica, arial, sans-serif;
   font-size: 14px;
   line-height: 1.6;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: white;
   padding: 30px;
   color: #333;
 }

 body > *:first-child {
   margin-top: 0 !important;
 }

 body > *:last-child {
   margin-bottom: 0 !important;
 }

 a {
   color: #4183C4;
   text-decoration: none;
 }

 h1, h2, h3, h4, h5, h6 {
   margin: 20px 0 10px;
   padding: 0;
   font-weight: bold;
   -webkit-font-smoothing: antialiased;
   cursor: text;
   position: relative;
 }

 h2:first-child, h1:first-child, h1:first-child + h2, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
   margin-top: 0;
   padding-top: 0;
 }

 h1 code {
   font-size: inherit;
 }

 h2 code {
   font-size: inherit;
 }

 h3 code {
   font-size: inherit;
 }

 h4 code {
   font-size: inherit;
 }

 h5 code {
   font-size: inherit;
 }

 h6 code {
   font-size: inherit;
 }

 h1 {
   font-size: 28px;
   color: black;
 }

 h2 {
   font-size: 24px;
   color: black;
 }

 h3 {
   font-size: 18px;
 }

 h4 {
   font-size: 16px;
 }

 h5 {
   font-size: 14px;
 }

 h6 {
   color: #777777;
   font-size: 14px;
 }

 p, blockquote, ul, ol, dl, li, table, pre {
   margin: 15px 0;
 }

 hr {
   border: 0;
   height: 0;
   padding: 0px;
   margin: 15px 0;
   background-color: #e7e7e7;
   border-bottom: 1px solid #eee;
 }

 body > h2:first-child {
   margin-top: 0;
   padding-top: 0;
 }

 body > h1:first-child {
   margin-top: 0;
   padding-top: 0;
 }

 body > h1:first-child + h2 {
   margin-top: 0;
   padding-top: 0;
 }

 body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
   margin-top: 0;
   padding-top: 0;
 }

 a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
   margin-top: 0;
   padding-top: 0;
 }

 h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
   margin-top: 0;
 }

 li p.first {
   display: inline-block;
 }

 ul, ol {
   padding-left: 30px;
 }

 ul :first-child, ol :first-child {
   margin-top: 0;
 }

 ul :last-child, ol :last-child {
   margin-bottom: 0;
 }

 blockquote {
   border-left: 4px solid #dddddd;
   padding: 0 15px;
   color: #777777;
 }

 blockquote > :first-child {
   margin-top: 0;
 }

 blockquote > :last-child {
   margin-bottom: 0;
 }

 table {
   padding: 0;
   display: block;
   border-spacing: 0;
   border-collapse: collapse;
   border-radius: 1px;
 }

 table tr {
   border-top: 1px solid #ddd;
   background-color: white;
   margin: 0;
   padding: 0;
 }

 table tr:nth-child(2n) {
   background-color: #f8f8f8;
 }

 table tr th {
   font-weight: bold;
   border: 1px solid #ddd;
   text-align: left;
   margin: 0;
   padding: 6px 13px;
 }

 table tr td {
   border: 1px solid #cccccc;
   text-align: left;
   margin: 0;
   padding: 6px 13px;
 }

 table tr th :first-child, table tr td :first-child {
   margin-top: 0;
 }

 table tr th :last-child, table tr td :last-child {
   margin-bottom: 0;
 }

 img {
   max-width: 100%;
 }

 code {
   padding: 2px 4px;
   white-space: nowrap;
   background-color: #F9F2F4;
   border-radius: 4px;
   color: #C7254E;
 }

 pre code {
   margin: 0;
   padding: 0;
   white-space: pre;
   border: none;
   background: transparent;
 }

 pre {
   background-color: #f8f8f8;
   border: 1px solid #cccccc;
   font-size: 13px;
   line-height: 19px;
   overflow: auto;
   padding: 6px 10px;
   border-radius: 3px;
 }

 .task-list-item {
   list-style-type: none;
 }

 .task-list-item+.task-list-item {
   margin-top: 3px;
 }

 .task-list-item input {
   margin: 0 0.2em 0.25em -1.6em;
   vertical-align: middle;
 }

 [type="checkbox"] {
   box-sizing: border-box;
   padding: 0;
 }

 [align="left"] {
   text-align: left;
 }

 [align="center"] {
    text-align: center;
 }

 [align="right"] {
     text-align: right;
 }

 abbr {
     border-bottom: 1px dotted #666;
     cursor: help;
 }

 #tooltip {
     position: fixed;
     background-color: #0e0e0e;
     border: 1px solid #1f1f1f;
     border-radius: 5px;
     font-size: smaller;
     padding: 5px;
     bottom: 5px;
     left: 50%;
     color: white;
     text-align: center;
     display: none;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
 }

 mark {
     color: black;
     padding: .2em;
     background-color: #ffff9c;
     border-radius: 1px;
 }

 kbd {
     display: inline-block;
     padding: 3px 5px;
     font-size: 11px;
     line-height: 10px;
     color: #555;
     vertical-align: middle;
     background-color: #fcfcfc;
     border: solid 1px #ccc;
     border-bottom-color: #bbb;
     border-radius: 3px;
     box-shadow: inset 0 -1px 0 #bbb;
     font-size: 11px;
 }

 math {
     color: #656d77 !important;
     padding: 2px;
 }